
/* NAV STYLES: */
.navbar {
  background: #1f398f;
  padding: 1vw;
}

.logo {
  width: 12vw;
  height: auto;
}

.one-third {
  width: 33vw;
}

.week-select {
  color: white;
  text-align: center;
  font-size: 2vw;
}

.week-select button {
  background: #1f398f;
  border-radius: 50%;
  color: white;
  padding: 0.5vw;
  font-size: 1vw;
  border: 2px solid white;
}

.week-select button:hover {
  cursor: pointer;
}

.week-select button:focus {
  outline: none;
}

.week-select span {
  font-family: 'Recursive', sans-serif;
  margin: 0;
  padding: 0 1vw;
}

.dropdowns {
  font-family: 'Recursive', sans-serif;
  font-size: 1.5vw;
  justify-content: flex-end;
}

.dropdowns a {
  color: white;
}

.navbar .dropdown-item:hover {
  cursor: pointer;
  background: #1f398f69;
}

/* HEADER STYLES: */
.header {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vh 0;
  padding: 0;
  font-family: 'Recursive', sans-serif;
  color: #1f398f;
  font-size: 1.3vw;
}

.header li {
  width: 33vw;
  text-align: center;
  padding: 0 4vw;
}

.header li:hover {
  cursor: pointer;
}

.skip-input {
  width: 3vw;
  margin-right: 1vw;
}

/* WEEK STYLES: */
.week {
  font-family: 'Recursive', sans-serif;
  width: 95vw;
  text-align: center;
  margin: 2vh auto;
  margin-right: 4vw;
  
}

.hour-column {
  font-size: 1vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hour-column li {
  position: relative;
  text-align: right;
  width: 4vw;
  height: 8vh;
}

.hour-column p {
  position: absolute;
  right: 0.5vw;
  top: 1.3vh;
}

.week-table {
  list-style: none;
  padding: 0;
  margin: 0;
}

.week-table li {
  width: 12vw;
  height: 8vh;
  outline: 1px solid black;
  outline-offset:0.5px;
}

.week-table .day-name {
  background: #1f398f4a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.5vw;
  margin: 0;
}

.list-inline-item {
  margin: 0 !important;
}

.time-slot {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

.time-slot:hover {
  color: black;
  background: rgb(255, 255, 160);
  cursor: pointer;
}

/* TASK STYLES: */
li .task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  outline: 2px solid black;
  outline-offset: -1px;
}

.task:hover {
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.851); 
}

.task h4 {
  margin: 0;
  font-size: 2.1vh;
}

.task p {
  margin: 0;
  font-size: 1.5vh;
}

.Dtask {
  background:rgb(223, 190, 223); 
}

.Otask {
  background: rgb(252, 211, 135);
}

.Ptask {
  background: rgb(172, 240, 172);
}